.hero {
    padding: 100px 0;
    background-color: aqua;

}

.hero-title {
    font-size: 50px;
    color: brown;
}

.hero-btn {
    background-color: aquamarine;
    margin-bottom: 18px;
    
}
.hero-text {
    font-size: 18px;
    color: blueviolet;
}